html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

body main {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(221, 221, 221, 0.1);
}

span#me p {
    padding-left: 20px;
    border-left: 2px solid purple;
}

span#you p {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 2px solid #264A60;
    text-align: right;
}

div.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: rgba(221, 221, 221, 0.44);
}

div.input input {
    width: 400px;
    height: 30px;
    outline: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1.9px solid #325C80;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

div.input button {
    background-color: #325C80;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    font-size: 16px;
}
