<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GBS Chat Bot</title>
        <link rel="stylesheet" href="./styles/chat.style.css">
        <style>@import url('https://fonts.googleapis.com/css?family=Open+Sans');</style>
    </head>
    <body>
        <main id="chat">

            <div class="chatHistory">
                <span class="me" id="me">
                    <p>Faça sua pergunta! Sei responder sobre claim.</p>
                </span>
                <span class="you" id="you">

                </span>
            </div>
            <div class="input">
                <input type="text" name="question" value="" id="question">
                <button type="button" name="button" id="askButton">Ask</button>
            </div>


        </main>

    <script src="../scripts/chat-index.js" charset="utf-8"></script>
    </body>
</html>
